.top .links li{
    list-style-type: none;
    display: inline;
}
.links{
    text-align: center;
    margin-top: -40px;
}
a, a:hover{
    text-decoration: none;
    color:black;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-nova{
    width:200px;
    height: 200px;
}
.icon{
    width:30px;
    height: 30px;
    color: #fff;
}

#link_1,#link_2, #link_3{
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.card-img{
   opacity: .3;
}
.card-text{
    color: white;
}
.linkmaph{
    font-weight: bold;  
}
.navbar-center{
    position: absolute;
    text-align: center;
}
.nav-link{
    font-family: 'Roboto', sans-serif;

}
.navbar{ background-color: #007BFF; }
 .nav-link{ color: black; font-weight: 500; } .btn{ border-radius: 0.3rem; font-weight: 500; }

.maph{
    padding-bottom: 20px;
}
.mask{
    margin-top:100px;
}
.title{
    margin-bottom: 20px;
}
.title-locais{
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 45px;
}

#footer-title{
    text-align: center;
}
.footer{
    padding-bottom: 10px;

}
.navbar .collapse .navbar-nav .nav-item a{
    color: black;
}
.navbar .navbar-brand .icon{
    color: black;
}


/*
    Dark mode in production!!!

*/

.dark-mode{
    background-color: #1a1919;
    color:#fff;
}
.dark-mode nav{
    background-color: #121010;
}
.dark-mode .navbar-light .navbar-nav .active>.nav-link{
    color: white;

}
.dark-mode .navbar-light .navbar-toggler{
    color: white;
    border-color: white;
}
.dark-mode .footer span{
    color:#fff;
    background-color: #1a1919;
}
.dark-mode .footer .linha{
    color:#fff;
}
.dark-mode .navbar .collapse .navbar-nav .nav-item a{
    color: #fff;
}
.dark-mode .navbar .navbar-brand .icon{
    color: #fff;
}




